.player-wrapper {
    position: relative;
    padding-top: 80%; /* Player ratio: 100 / (1280 / 720) */
    padding-left: 10 ;
}
  
  .react-player {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .play-button {
   color: 'white';
   position: absolute;
   background: gray;
   top: 40%;
   left: 31%;
   font-family: 'Audiowide', cursive;  
   font-size: 50px;
   border-radius: 6px;
   padding-right: 3px;

   border-color: black;
   border: 3px solid;
  }
  .play-button:hover {
    background-color: rgb(221,221,221)
   
  }
  .play-button {
    cursor: pointer;
  }