
.menuTabButton {
    padding-Top: 7;
    padding-Bottom: 7;
    text-align: 'center';
    margin: 'auto';
    background-Color: 'grey';
    width: '70%';
    cursor: 'pointer';
    border-Radius: 5;
    border: "3px solid black";
}
.menuTabButton:hover {
    background-color: yellow;
}
